body{
	font-size:15px;
	line-height: 1.5em;
	font:15px/1.5 Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	background-color: #ffffff;
	height:100%;
}
.container-fluid{
	width:70%;
	margin:auto;
	overflow:hidden;
	padding:0;
}
ul{
	margin:0;
	padding:0;
}
/*header*/
header{
	padding-top:20px;
	min-height:70px;
	padding-bottom: 20px;
	position: fixed;
    width: 100%;
    background: #fff;
    z-index: 100;
    /*box-shadow: 0px 4px 15px rgba(0,0,0,0.07);
    border-bottom: 1px solid #f0f0f0;*/

}
header a{
	color:#000;
	text-decoration: none;
	font-size:16px;
}
header ul{
	margin:0px;
	padding:0px;
}
header li{
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}
header .navbar-brand{
	float:left;
	  /*  background-color: #2102023d;
    width: 100%;*/
}
header .navbar-brand img{
	margin:0;
}
header  nav{
	float:right;
	/*margin-top:10px;*/
}
header a:hover{
	text-decoration: none;
	color:#9edefa;
}
header .current a{
	color:#9edefa;
	font-weight:bold;
}
#showcase{
	min-height:718px;
	width:70%;
	margin:auto;
		/*-webkit-box-shadow: 20px 11px 71px -6px rgba(92,90,92,1);
-moz-box-shadow: 20px 11px 71px -6px rgba(92,90,92,1);
box-shadow: 20px 11px 71px -6px rgba(92,90,92,1);*/
}
.box{
    width: 50%;
    color: #ffffff;
    padding: 20px 30px 22px 20px;
    /* text-align: center; */
    background-color: #ffffff;
    /* margin-top: 23%; */
    border-radius: 15px;
	background: rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 6px -8px 19px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 6px -8px 19px 2px rgba(0,0,0,0.75);
box-shadow: 6px -8px 19px 2px rgba(0,0,0,0.75);
}
.box h1{
	text-align:left;
}
.box p{
	text-align:left;
    padding-bottom: 50px;
}
aside#sidebar{
	float:right;
	min-height:500px;
	width:50%;
	margin: -10px;
	  background:url('../img/next-image-two.jpeg') no-repeat 0 ;
	position:relative;
}
artical#main-col{
    float:left;
    width:50%;
    padding:0px;
    margin: -10px 0px 0px 0px;
    min-height:500px;
    background:url('../img/next-image.jpg') no-repeat 0;
     position:relative;
}
.dark {
  position:absolute;
  bottom:0;
  color:#ffffff;
      background: rgba(0, 0, 0, 0.26);
          width: 99%;
              padding: 0px 0px 0px 58px;
      margin: 0px 0px 36px 2px;
 /* background: rgba(255,255,255,.9);*/
}
section#main-new{
	 background-color:#b2c3cc;
	height:100%;
	-webkit-box-shadow: 20px 11px 71px -6px rgba(92,90,92,1);
-moz-box-shadow: 20px 11px 71px -6px rgba(92,90,92,1);
box-shadow: 20px 11px 71px -6px rgba(92,90,92,1);

}
aside#contant-two{
	float:right;
	min-height:250px;
	width:50%;
	margin: 0px;
	position:relative;
	font-size: 15px;
	padding: 98px 0px 0px 44px;
}
#contant-two p{
    color:#313b42;
}
artical#contant-one{
    float:left;
    width:50%;
    padding: 98px 0px 60px 44px;
    margin: 0px 0px 0px 0px;
    min-height:250px;
     position:relative;
     font-size: 24px;
}
#contant-one p{
	padding: 0px 0px 1px 0px;
}
.dark-one {
  position:absolute;
  font-size: 15px;
  padding-left: 25%;
      padding-top: 4%;
          text-transform: uppercase;
}
.dark-sub-one {
    float: right;
    padding-right: 25%;
    margin:0px;
    font-size: 15px;
        padding-top: 4%;
         text-transform: uppercase;
}
.dark-one h1{
	color:#e8e8e8;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.86);
}
.dark-sub-one h1{
	color:#e8e8e8;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.86);
}
.dark-two {
  position:absolute;
  bottom:0;
  padding: 0px;
  font-size: 15px;
   text-transform: uppercase;
}
.dark-sub-two {
    float: right;
    padding-right: 50%;
    font-size: 15px;
        padding-top: 4%;
         text-transform: uppercase;
}
.dark-two h1{
	color:#e8e8e8;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.86);
}
.dark-sub-two h1{
	color:#e8e8e8;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.86);
}
.main-contant-three {
	color:#7b7777;
    text-align: center;
  /*  padding: 60px;*/
    /*border-style: outset;*/
        margin-top: 30px;
   /* background: url(../img/managed-services.png) no-repeat 0;*/
}
.main-contant-three p{
	color:#909090;
	padding:18px;
}
#boxes{
	margin-top:20px
}

.mini-box{
	float:left;
	width:23%;
	padding:10px;
	text-align:center;
	margin:0;
	    border: 1px solid #e5e5e5;
	    border-bottom:3px solid #2aa1d3;
	    margin-right: 20px;
	        margin-top: 15px;
}
.button{
	width:100%;
	 text-align:center;
}
.btn-primary{
	background-color:#ffffff;
    width: 200px;
    margin-top: 50px;
    margin-bottom:50px;
    color:#243a52;
    padding: 10px;
    text-transform: uppercase;
    border:1px solid #c7c7c7;
    border-radius: 13px;

}
.btn-primary:hover {
    color: #000;
    background-color: #ffffff;
    border-color: #0062cc;
}
#type-one{
	text-align:center;
	margin:0;
	padding:0;
}
.create-image {
    background-color: white;
    height: 50;
    height: 200px;
}
/*.large-box{
	background-color: white;
    height: 50;
    height: 200%;
}*/
.table-two{
	float:right;
}


.img-box{
	height:250px;
	background-color:yellow;
	 text-align: center;
	        padding-top: 100px;
    font-size: 30px;
}
.img-box.new-image{
	background:url('../img/small-images.jpeg') no-repeat 0 ;
	}
.img-box.next-image{
	background:url('../img/crt.jpeg') no-repeat 0 ;
}
/*background:url('../img/crt.jpeg') no-repeat 0 ;*/
/*#boxes{
	background:url('../img/image1.jpg') no-repeat 0 ;
}*/
.box-one{
	/*background:url('../img/small-images.jpeg') no-repeat 0 ;*/
	height:250px;
	/*background-color:blue;*/
	 text-align: center;
	         padding-top: 100px;
    font-size: 30px;
    background-color: #2b2b40
}
#padding-align
{
	padding-top:20px;
}
#align-part {
    padding-top: 100px;
    color:#e6e5e5;
}
.container-align
{
    background-color: #b2c3cc;
padding-bottom:60px;
border-bottom:1px solid #ccc;
-webkit-box-shadow: 20px 11px 71px -6px rgba(92,90,92,1);
-moz-box-shadow: 20px 11px 71px -6px rgba(92,90,92,1);
box-shadow: 20px 11px 71px -6px rgba(92,90,92,1);
}
.heading{
	text-align:center;
	    padding-top: 70px;
	    padding-bottom:70px;
}
.heading b{
	font-size:40px;
}
.heading p{
	color:#545454;
	    margin: 15px 0px 0px 0px;
}
.image-fix {
    text-align: center;
    margin-top: -50px;
}
.text-format{
	text-align:center;
	padding: 20px 30px 0px 20px;
}
.text-format b{
	font-size:23px;
	color:#909090;
}
.text-format p{
	color:#8e949a;
	font-size: 20px;
	padding-top:15px;
}
/*.col-lg-6.large-box{
 border:1px solid #c7c7c7;
 margin:0px;
 padding:0px;
}*/
.new-create {
    /* padding: 1px; */
    margin: 15px;
    border: 1px solid #e5e5e5;
        height: 520px;
    background-color: #f5f5f5;
        margin: 0px 15px 0px 0px;
}
.col-lg-6.large-box{
    border: 0;
    padding: 0;
}
.company-list ul li{
	display:inline;
	/*max-width: 100%;*/
}
/*.company-list{
	max-width:100vw;
}*/
.clients-logo{
    width: 100%;
    text-align: center;
    float: left;
    padding:60px 0;
    margin-bottom: 10px;
}
.clients-logo img {
    display: inline-block;
    max-width: 177px;
}
.down-box{
/*-webkit-box-shadow: 20px 11px 71px -6px rgba(92,90,92,1);
-moz-box-shadow: 20px 11px 71px -6px rgba(92,90,92,1);
box-shadow: 20px 11px 71px -6px rgba(92,90,92,1);*/
-webkit-box-shadow: 3px 0px 31px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 0px 31px -1px rgba(0,0,0,0.75);
box-shadow: 3px 0px 31px -1px rgba(0,0,0,0.75);
      padding: 11px;
    margin: 20px;
}
footer p{
	text-align:center;
	color:#626262;
	padding-top:15px;
}
.list ul li{
	list-style: none;
	color:#5c5c5c;
}
.list {
    padding: 17px 0px 40px 60px;
}
.col-lg-9 b{
	padding: 29px 0px 0px 57px;
    display: inline-block;
    text-transform: uppercase;
        font-size: 14px;
}

/*.new-box:hover{
	background-color:red;
}*/
.create-icon{
	height:50px;
	width:50px;
	border-radius:25px;
	background-color:#57c3e7;
	        display: block; 
     margin-left: auto; 
    margin-right: auto; 
-webkit-box-shadow: -5px -10px 22px -2px rgba(0,0,0,0.75);
-moz-box-shadow: -5px -10px 22px -2px rgba(0,0,0,0.75);
box-shadow: -5px -10px 22px -2px rgba(0,0,0,0.75);
}
.col-lg-3.logo img{
     display: inline-block;
  
     max-width: 285px;
    padding: 33px 0px 0px 58px;
}
.create-icon img {
    padding: 9px;
}
.create-icons{
	height:50px;
	width:50px;
	border-radius:25px;
	background-color:#57c3e7;
	/*display: block; 
    margin-left: auto; 
     margin-right: auto; */
}
/*.new-box{
	padding:10px;
}*/
.new-box h3{
   color:#ffffffde;
   font-size:18px;
   font-weight: bold;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.86);
}
.new-box p{
	color:#ffffff;
}
.new-box.one {
	background:url('../img/imageone.jpeg') no-repeat 0;
        background-color:#f77274;
		height: 100%;
}
.new-box.two {
	background:url('../img/imagetwo.png') no-repeat 0;
         background-color:#bea680;
          height:85%;
}
.new-box.three {
         background-color:#a3a563;
         background:url('../img/WebApplicationSecurity2.jpg') no-repeat 0;
         height:91%;
}
.new-box.four {
			background-color:#7ea2c6;
		 height:85%;
}
.new-box.five {
         background-color:#f5a252;
         height:85%;
}
.new-box.six {
         background-color:#b99fe9;
         background:url('../img/sec.png') no-repeat 0;
         height:100%;
}
.new-box.seven {
         background-color:#876c76;

          height:100%;
}
.new-box.eight {
         background-color:#79bfa2;
}
/*.col-lg-12.fullgrid{
	padding-top:30px;
}*/
.new-box{
	text-align:center;
}
.bg-color{
	background: rgba(0, 0, 0, 0.26);
	height: 100%;
	padding: 31px;
}
.arrow
{
	width:50px;
	height:50px;
	padding:5px;
	background-color:#ffffff;
	border-radius: 50%;
	    margin-right: 15px;
    margin-left: 9px;
}
.arrow-comman > .arrow{
						display:inline-block;
						    border: 2px solid #ece7e7;

}
.arrow img{
		        display: block; 
     margin-left: auto; 
    margin-right: auto; 
    padding: 6px 3px 0px 2px;
}
.arrow-comman {
    text-align: center;
    padding-top:50px;
}

.gray-align{
    background: rgba(0, 0, 0, 0.26);
}
.read-btn{
	width:50px;
	height:50px;
	padding:10px;
	        background: rgb(70, 191, 214);
	border-radius:50%;
	float:right;
	    margin: -80px -51px 0px 0px;
}
.read-btn p {
    width: 100%;
    margin-left: -113px;
    display: inline;
}
.read-btn img {
       padding: 0px 0px 0px 30px;
}
.bg-color:hover {
    -webkit-box-shadow: 3px -1px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px -1px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 3px -1px 17px 0px rgba(0,0,0,0.75);
}
.make-align {
       padding-top: 116px;
    background: url(../img/b4.jpg) no-repeat 0;
    background-size: 100% 100%;
}
/*::-webkit-scrollbar { 
    display: none; 
}*/

/* //pop up for sign in and sign up form */

/*-- banner --*/ 
.w3ls-banner{
	position: relative;
}   
/* .banner-dott {
    background: url(../img/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
} */
.banner-dott1 {
    background: url(../img/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
}

/*-- banner-text --*/ 
.header-w3layouts{
    position: absolute;
    top: 0;
    z-index: 99;
    text-align: center;
    left: 0;
    width: 100%;
}
.agileits-banner-info h3 {
    color: #fff;
    font-size: 3em;
    margin: 0;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.31);
}

.agileits-banner-info h3.second {
	font-weight: bold;
}
.agileits-banner-info h3 span{
	    background: #2529d8;
    padding: 0 15px;
}
.agileits-banner-info {
    text-align: left;
    padding: 15em 0 15em;
}
.agileits-banner-info p {
    color: #fff;
    font-size: 1em;
    line-height: 1.8em;
    letter-spacing: 5px;
    margin: 2em auto;
}
.agileits_w3layouts_more{
	position:relative;
}
.agileits_w3layouts_more a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    position: relative;
    background: #146eb4;
    padding: 10px 20px;
}
.agileits_w3layouts_more a:focus{
	outline:none;
}
.agileits_w3layouts_more a:hover{
	color:#fff;
}
/* .agileits_w3layouts_more a:before,.agileits_w3layouts_more a:after{
	content: '';
    background: #fff;
    width: 85%;
    height: 2px;
    position: absolute;
    left: 105%;
    top: 46%;
} */
.agileits_w3layouts_more a:after{
	-webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
	    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: center left;
    transform-origin: center left;
    -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.agileits_w3layouts_more a:hover::before, .agileits_w3layouts_more a:hover::after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
/* .agileits_w3layouts_more a::after {
    background: #E91E63;
} */
/*-- //banner-text --*/
/*-- banner-top --*/
.layouts-banner-top{
    background: url(../img/b4.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.layouts-banner-top1{
	background: url(../img/dashboard.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.layouts-banner-top2{
	background: url(../img/people.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;	
	min-height:700px;
}
.layouts-banner-top3{
	background: url(../img/employee.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;	
	min-height:700px;
}

/*-- //banner-top --*/ 
/*--slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}

.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top:55%;
    left: 40px;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 34px;
    width: 34px;
    background: url(../img/left.png) no-repeat 0px 0px;
}
.callbacks_nav.next {
    left: auto;
    background: url(../img/right.png) no-repeat 0px 0px;
    right: -62px;
}
.callbacks_nav.prev {
    left: auto;
    background: url(../img/left.png) no-repeat 0px 0px;
    left: -58px;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display:block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs {
    list-style: none;
    position: absolute;
    bottom: 6%;
    left: 46.3%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 99;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li {
    display:inline-block;
    margin: 0px;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height:10px;
    width:10px;
    display: inline-block;
	border:2px solid #fff;
    background: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
       background: none;
	border:2px solid #fff;
}
/*-- //slider --*/

.thim-click-to-bottom {
   position: absolute;
    bottom: 17%;
    left: 15%;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    -webkit-animation: bounce 2s infinite ease-in-out;
    z-index: 99;
}
.thim-click-to-bottom i {
    color: #fff;
}
.rotate a {
    border: 2px solid #fff;
    font-size: 20px;
    width: 40px;
    height: 65px;
    padding: 12px;
    line-height: 65px;
	border-radius: 30px;
    text-align: center;
}
@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -ms-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -o-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -moz-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}
/*-- hover-effect --*/
/* //banner */